<div>
    <h1>Carrito</h1>
    {{#if products.length}}
        <ul>
            {{#each products}}
                <li>
                    <strong>Producto:</strong> {{this._id.title}} <br>
                    <strong>Precio:</strong> ${{this.productId.price}} <br>
                    <strong>Cantidad:</strong> {{this.quantity}} <br>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>Tu carrito está vacío.</p>
    {{/if}}
</div>
